* {
font-family: Arial;
}

.front-page {
    text-align: center;
    object-position: center;
    margin-top: 20vh;
}

#heading {
    font-size: 50px;
}

#questionDisplay {
    font-size: 25px;
    text-align: center;
}

#optionDisplay0
#optionDisplay1
#optionDisplay2
#optionDisplay3 {
    display: none;
}

